<h1>{{title}}</h1>

<!---********* ENRUTAMOS LOS PARAMETROS --->
<!--- para llamar el parametro en la url  agregando una condicion-->
  <div *ngIf="parametro">
    Parametro de la Url: {{parametro}}
  </div>

  <!-- mostramos los boton en caso de que no exista parametro --->
  <div *ngIf="!parametro">
    <button (click)="redirigir()">Ir ala pagina con parametro</button>
    <button (click)="redirigirDos()">Ir ala home</button>
  </div>
<!---******* ENRUTAMOS LOS PARAMETROS --->
