<h1>{{title}}</h1>
<br>
<input type="text" [(ngModel)]="prenda_a_guarda">
<button (click)="guardarPrenda()">Añadir Prenda</button>
<p *ngIf="prenda_a_guarda">La Prenda a Guardar es : {{prenda_a_guarda}}</p>
<h3>Listado de Prendas de Ropa</h3>
<ul>
  <li *ngFor="let prenda of listado_ropa;let i = index">
    <br>
    {{prenda}}
    <button (click)="eliminarPrenda(i)">Eliminar</button>
  </li>
</ul>
