<h1 style="color:red;">
  {{title}}
</h1>

<div class="row">
  <div class="col-md-6 card">
    <!-----******DATA-BINDIG **************----->
    <h3>Selector de Colores</h3>
    <!-- con el boton enviaremos el valor funcon logColoreSeleccionado()--->
    <button class="btn btn-success" (click)="logColoreSeleccionado()">Mostrar Log</button>
    <br>
    <input type="text" [(ngModel)]="color_seleccionado">
    <br><br>
    <!--atribulo style y propiedad border---->
    <pre [style.border]="color_seleccionado =='red' ? '5px solid black':'1px solid green'"
    [ngClass]="{
        fondoAzul:color_seleccionado == 'blue',
        fondoVerde:color_seleccionado == 'green'
    }">
      <strong>Color Elegido:</strong>
      {{color_seleccionado}}
    </pre>
    <div [ngStyle]="{
      'background': color_seleccionado,
      'width': '200px',
      'height':'200px',
      'float':'right',
      'margin-right':'68%'
      }"></div>
    <div style="clear:both;">

    </div>
    <!---- F.C DATA-BINDIG ***************---->
  </div>

  <hr>


  <div class="col-md-6 card">
    <!---**********COLOR SWITCH **********----->
    <h3>Color Switch</h3>
    <ul [ngSwitch]="color">
      <li *ngSwitchCase="'red'" [ngStyle]="{
    'background': color,
    'color':'white',
    'padding': '20px'
    }">
        Color Rojo
      </li>

      <li *ngSwitchCase="'green'" [ngStyle]="{
    'background': color,
    'color':'white',
    'padding': '20px'
    }">
        Color Verde
      </li>

      <li *ngSwitchCase="'blue'" [ngStyle]="{
    'background': color,
    'color':'white',
    'padding': '20px'
    }">
        Color Azul
      </li>
    </ul>
    <!--- *************F.C SWICTH*********---->
  </div>
</div>

<hr>
<div class="row ">
  <div class="col-md-4 card">

    <!------************Inicio Trabajando con models *******------>
    <!--realizamos la llamada de datos de nuestro componetes.ts en forma simple -->
    <strong>Empleado Estrella:</strong>
    <ul>
      <li>Nombre: {{empleado.nombre}}</li>
      <li>Edad: {{empleado.edad}}</li>
      <li>Cargo: {{empleado.cargo}}</li>
      <li>DNI: {{empleado.dni}}</li>
      <li>Contratado: {{empleado.contratado}}</li>
    </ul>
    <hr>
    <!-- llamaos de nuestro componente empleado.ts los datos de una array-->
    <strong>Empleado Estrella dentro un array:</strong>
    <ul>
      <li>Nombre: {{trabajadores[0].nombre}}</li>
      <li>Edad: {{trabajadores[0].edad}}</li>
      <li>Cargo: {{trabajadores[0].cargo}}</li>
      <li>DNI: {{trabajadores[0].dni}}</li>
      <li>Contratado: {{empleado.contratado}}</li>
    </ul>
    <hr>
    <!---------********Final ejemplo de modals*******---->
  </div>




  <div class="col-md-4 card">

    <!---**** Modals y NGif*********--->
    <!-- ejemplo con ngif llamda simple-->
    <strong>Empleado Estrella simple con ngif:</strong>
    <ul *ngIf="trabajador_externo == false">
      <li>Nombre: {{empleado.nombre}}</li>
      <li>Edad: {{empleado.edad}}</li>
      <li>Cargo: {{empleado.cargo}}</li>
      <li>DNI: {{empleado.dni}}</li>
      <li>Contratado: {{empleado.contratado}}</li>
    </ul>
    <br>
    <!-- llamaos de nuestro componente empleado.ts los datos de una array con ngif-->
    <strong>Empleado Estrella dentro un array con ngif:</strong>
    <ul *ngIf="trabajador_externo == true">
      <li>Nombre: {{trabajadores[0].nombre}}</li>
      <li>Edad: {{trabajadores[0].edad}}</li>
      <li>Cargo: {{trabajadores[0].cargo}}</li>
      <li>DNI: {{trabajadores[0].dni}}</li>
      <li>Contratado: {{empleado.contratado}}</li>
    </ul>
    <hr>
    <!---***************Final de Modals y ngif******--->
  </div>



  <div class="col-md-4 card">

    <!-----*********** Modal, ngIf y funcion click()*******--->
    <!-- ejemplo con ngif con funcion mostrar / cambiarExterno()-->
    <strong>Empleado Estrella simple con ngif y una funcion:</strong>
    <div *ngIf="trabajador_externo == true">
      <button (click)="cambiarExterno(false)">Mostrar empleado</button>
      <ul>
        <li>Nombre: {{trabajadores[0].nombre}}</li>
        <li>Edad: {{trabajadores[0].edad}}</li>
        <li>Cargo: {{trabajadores[0].cargo}}</li>
        <li>DNI: {{trabajadores[0].dni}}</li>
        <li *ngIf="trabajadores[0].contratado == true"> Esta Contratado</li>
        <li *ngIf="trabajadores[0].contratado == false">NO Esta Contratado</li>
      </ul>
    </div>
    <div *ngIf="trabajador_externo == false">
      <button (click)="cambiarExterno(true)">Mostrar Trabajo</button>
      <ul>
        <li>Nombre: {{empleado.nombre}}</li>
        <li>Edad: {{empleado.edad}}</li>
        <li>Cargo: {{empleado.cargo}}</li>
        <li>DNI: {{empleado.dni}}</li>
        <li *ngIf="empleado.contratado == true"> Esta Contratado</li>
        <li *ngIf="empleado.contratado == false">NO Esta Contratado</li>

      </ul>
    </div>
  </div>
</div>
<!-----*********Final de Modals, ngIf y funcion click()***********----->



<!---- ***********Listado Con ngFor *************--->
<h3>listado de empleado utilizando ngfor</h3>
<ul>
  <li *ngFor="let empleado of trabajadores ; let i=index;">
    <strong>Empleado {{i+1}}</strong>
    <ul>
      <li>Nombre: {{empleado.nombre}}</li>
      <li>Edad: {{empleado.edad}}</li>
      <li>Cargo: {{empleado.cargo}}</li>
      <li>DNI: {{empleado.dni}}</li>
      <li *ngIf="empleado.contratado == true"> Esta Contratado</li>
      <li *ngIf="empleado.contratado == false">NO Esta Contratado</li>
    </ul>
  </li>
</ul>
<!---********** Final NgFor**********------>
