<h1>{{title}}</h1>

<!----*** PIPES DATE ----->
<br>
{{fecha }}
<br>
{{fecha | date:'fullDate'}}
<br>
{{fecha | date:'dd/MM/yyyy'}}
<!---***** F. PIPES DATE --->


<!---***PIPES DE MAYUSCULAS Y MINUSCULAS ****-->
<br>
{{nombre | uppercase}}
<br>
{{nombre | lowercase}}
<!---*** f. PIPES DE MAYUSCULAS Y MINUSCULAS ****-->
<br>

<!-- ****** PIPS PERSONALIZADOS ****** -->
{{5 | conversor:7}}
<!--- **** F PIPES PERSONALIZADOS**** -->
